{% extends 'base.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock styles %}

{% block content %}
    <div class="uk-container">
        <form class="uk-form-stacked uk-padding">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Description</label>
                <div class="uk-form-controls">
                    <textarea name="text" class="uk-textarea" rows="5"></textarea>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">Type</label>
                <div class="uk-form-controls">
                    <select name="type" class="uk-select" id="form-stacked-select">
                        <option value="main">main</option>
                        <option value="other">other</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Status</div>
                <div class="uk-form-controls">
                    <label><input name="status" type="radio" value="published" class="uk-radio">published</label>
                    <label><input name="status" type="radio" value="unpublished" class="uk-radio">unpublished</label>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Display</div>
                <div class="uk-form-controls">
                    <label><input name="display" type="checkbox" class="uk-checkbox">home</label>
                    <label><input name="display" type="checkbox" class="uk-checkbox">news</label>
                    <label><input name="display" type="checkbox" class="uk-checkbox">last</label>
                </div>
            </div>
            <div class="uk-margin">
                <div uk-form-custom="target: true">
                    <input name="images" type="file" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Images</button>
                </div>
                <div uk-form-custom="target: true">
                    <input name="files" type="file" multiple>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Files</button>
                </div>
            </div>
            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Create</button>
        </form>
    </div>
{% endblock content %}